@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Agbalumo&family=Dancing+Script&family=Eczar&family=Inter:wght@100&family=Josefin+Sans:ital,wght@1,200;1,300&family=Poppins:ital,wght@1,200&family=Quattrocento:wght@700&family=Roboto+Slab:wght@900&family=Zen+Kaku+Gothic+Antique:wght@700&family=Zen+Kurenaido&display=swap");
.navHeader {
  background-color: #373737;
}
.navHeader .navbar-nav .nav-link.active {
  color: white;
}
.navHeader a {
  color: white;
}
.navHeader .navHeader__logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-left: 30px;
}
.navHeader .navHeader__logo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.navHeader ul li {
  font-size: 25px;
}
.navHeader .dropdown-menu {
  background-color: #373737;
}
.navHeader #ocultarItem {
  display: none;
}
.navHeader .dropdown-menu a {
  padding: 8px;
}

@media (max-width: 1023px) {
  .navHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navHeader .navHeader__logo {
    margin: 0px;
  }
  .navHeader #navbarNavDropdown {
    display: flex;
    justify-content: center;
  }
  .navHeader .navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .navHeader .navbar-nav .nav-link {
    padding: 8px;
  }
  .navHeader .navbar-nav ul li {
    font-size: 20px;
  }
  .navHeader .navbar-nav .dropdown-menu.show {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .mostrarItem {
    display: none;
  }
  .navbar-nav #ocultarItem {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid blue; */
  font-family: "Poppins", sans-serif;
}

a, li {
  display: inline-block;
  font-size: none;
  list-style: none;
  text-decoration: none;
}

main {
  min-height: 100vh;
}

/* ========================= */
/* ===== PESTAÑA INDEX ===== */
/* ========================= */
#mainInicio {
  background-size: cover;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../imagenes/index/hermosa-zona-fotos-gran-corona-decorada-vegetacion-rosas-centro-mesa-velas-lados-guirnaldas-colgadas-arboles-min.png);
  font-weight: bold;
}
#mainInicio #seccionBienvenidos {
  display: flex;
  flex-direction: column;
}
#mainInicio #seccionBienvenidos .titulos {
  width: 100%;
  color: white;
  font-size: 30px;
}
#mainInicio #seccionBienvenidos .titulos h1 {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  font-size: 40px;
}
#mainInicio #seccionBienvenidos .titulos h3 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}
#mainInicio #seccionBienvenidos .parrafo {
  width: 100%;
  display: flex;
  justify-content: center;
}
#mainInicio #seccionBienvenidos .parrafo p {
  width: 700px;
  color: white;
  font-size: 30px;
  margin: 20px;
}
#mainInicio #seccionBienvenidos .linkCotizar {
  width: 100%;
  display: flex;
  justify-content: center;
}
#mainInicio #seccionBienvenidos .linkCotizar a {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  font-weight: bold;
  background-color: #373737;
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 40px;
  transition: 1s;
}
#mainInicio #seccionBienvenidos .linkCotizar a:hover {
  background-color: #f5c15c;
  transition: 2s;
  color: #373737;
  transition: color 1s;
}

/* ============================= */
/* SISTEMA RESPONSIVO INDEX MAIN */
/* ===========1023PX============ */
@media (max-width: 1023px) {
  #mainInicio #seccionBienvenidos .titulos h1 {
    font-size: 35px;
  }
  #mainInicio #seccionBienvenidos .titulos h3 {
    font-size: 25px;
    margin-top: 10px;
  }
  #mainInicio #seccionBienvenidos .parrafo p {
    font-size: 25px;
    margin: 20px;
  }
  #mainInicio #seccionBienvenidos .linkCotizar a {
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
/* ============================= */
/* SISTEMA RESPONSIVO INDEX MAIN */
/* ===========600PX============= */
@media (max-width: 600px) {
  #mainInicio #seccionBienvenidos .titulos h1 {
    font-size: 30px;
  }
  #mainInicio #seccionBienvenidos .titulos h3 {
    font-size: 20px;
    margin-top: 10px;
  }
  #mainInicio #seccionBienvenidos .parrafo p {
    font-size: 20px;
    margin: 20px;
  }
  #mainInicio #seccionBienvenidos .linkCotizar a {
    font-size: 30px;
    margin-top: 10px;
  }
}
#mainGastronomia {
  background-color: #fff7e9;
}
#mainGastronomia #gastronomia {
  width: auto;
  height: auto;
}
#mainGastronomia #gastronomia .titGastroCasaDeTe, #mainGastronomia #gastronomia .titGastroLaTaberna {
  background-image: url(../imagenes/gastronomia/te-verde-oolong-tetera-tazon-grande.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  display: flex;
  align-items: center;
}
#mainGastronomia #gastronomia .titGastroCasaDeTe .titGastroH2, #mainGastronomia #gastronomia .titGastroLaTaberna .titGastroH2 {
  color: white;
  font-size: 70px;
  margin-left: 30px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 5px;
  text-shadow: 10px 5px 10px #fff7e9;
}
#mainGastronomia #gastronomia .titGastroLaTaberna {
  background-image: url(../imagenes/gastronomia/cerca-camarero-sirviendo-cerveza.jpg);
}
#mainGastronomia #gastronomia .secGastro {
  display: flex;
  justify-content: center;
  margin: 100px 0 100px 0;
  text-align: center;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas {
  display: flex;
  width: 1060px;
  height: 400px;
  border: 2px solid #fa8072;
  padding: 10px;
  background-color: #373737;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastroCasaDeTe__divImg, #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastroLaTaberna__divImg {
  background-image: url(../imagenes/gastronomia/casa-de-te-tazas-tetera-junto-flores-frente-ventana-dia-lluvioso.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 70%;
  height: 100%;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastroLaTaberna__divImg {
  background-image: url(../imagenes/gastronomia/pareja-camarera.jpg);
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: white;
  align-items: center;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__titHdos {
  width: 100%;
  margin-top: 80px;
  text-align: center;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__titHdos h2 {
  font-size: 30px;
  text-align: center;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__consRedSoc h2 {
  font-size: 20px;
  margin-top: 30px;
  width: 250px;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__consRedes a {
  color: #373737;
  font-size: 30px;
  margin: 10px;
  transition: 1s;
}
#mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__consRedes a:hover {
  color: #fa8072;
  transition: 0.8s;
  transform: rotate(360deg);
}
#mainGastronomia #gastronomia .secGastro__infoMenu {
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__info {
  padding: 10px;
  width: 750px;
  padding-right: 40px;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "secGastro__tituloMenu" "secGastro__menu" "secGastro__titulosMenEsp" "secGastro__menuEsp";
  column-gap: 70px;
  padding: 10px;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__tituloMenu {
  grid-area: secGastro__tituloMenu;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menu {
  grid-area: secGastro__menu;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__titulosMenEsp {
  grid-area: secGastro__titulosMenEsp;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menuEsp {
  grid-area: secGastro__menuEsp;
  margin: 0;
  padding-bottom: 110px;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .laTaberna__cartaDeVinos {
  background-color: #373737;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  width: 200px;
  height: 50px;
  display: table-cell;
  vertical-align: middle;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .laTaberna__cartaDeVinos a {
  color: #fff7e9;
  font-weight: bold;
  transition: 1s;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .laTaberna__cartaDeVinos a:hover {
  color: #fa8072;
  transition: 1s;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus p {
  width: 250px;
}
#mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menu {
  height: auto;
}
#mainGastronomia #gastronomia h3 {
  font-size: 28px;
}
#mainGastronomia #gastronomia p {
  font-size: 16px;
}

@media (max-width: 1023px) {
  #mainGastronomia #gastronomia .titGastroCasaDeTe,
  #mainGastronomia #gastronomia .titGastroLaTaberna {
    height: 200px;
  }
  #mainGastronomia #gastronomia .titGastroCasaDeTe .titGastroH2,
  #mainGastronomia #gastronomia .titGastroLaTaberna .titGastroH2 {
    font-size: 50px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__info {
    padding: 10px;
    width: 600px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "secGastro__tituloMenu secGastro__titulosMenEsp" "secGastro__menu       secGastro__menuEsp";
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__tituloMenu {
    grid-area: secGastro__tituloMenu;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menu {
    grid-area: secGastro__menu;
    margin: 0;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__titulosMenEsp {
    grid-area: secGastro__titulosMenEsp;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menuEsp {
    grid-area: secGastro__menuEsp;
    margin: 0;
    padding-bottom: 110px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus p {
    width: 250px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .laTaberna__cartaDeVinos {
    width: auto;
    font-size: 15px;
  }
  #mainGastronomia #gastronomia .secGastro {
    margin-top: 100px;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas {
    width: 700px;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas {
    justify-content: center;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__titHdos {
    margin-top: 40px;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__titHdos h2 {
    font-size: 20px;
    width: auto;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas .secGastro__consRedSoc h2 {
    font-size: 15px;
    width: auto;
  }
}
@media (max-width: 600px) {
  #mainGastronomia #gastronomia .titGastroCasaDeTe .titGastroH2, #mainGastronomia #gastronomia .titGastroLaTaberna .titGastroH2 {
    font-size: 40px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__info {
    padding: 10px;
    width: auto;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus {
    column-gap: 20px;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus h3 {
    width: auto;
    height: auto;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus p {
    width: auto;
    height: auto;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .secGastro__menu {
    padding: 0px;
    height: auto;
  }
  #mainGastronomia #gastronomia .secGastro__infoMenu .secGastro__menus .laTaberna__cartaDeVinos {
    width: auto;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border: 2px solid #fa8072;
    padding: 10px;
    background-color: #373737;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastroCasaDeTe__divImg,
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastroLaTaberna__divImg {
    width: 100%;
  }
  #mainGastronomia #gastronomia .secGastro .secGastro__fechas .secGastro__titFechas {
    width: 100%;
  }
}
#imagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "areaUnoImg areaUnoImg" "areaDosImg areaDosImg" "areaTresImg areaTresImg";
  background-color: #fff7e9;
}
#imagenes .areaUnoImg {
  grid-area: areaUnoImg;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../imagenes/imagenes/salon-restaurante-adornado-flores.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 400px;
}
#imagenes .areaUnoImg h1 {
  font-size: 120px;
  font-style: italic;
  margin-left: 30px;
  color: #fff7e9;
}
#imagenes .areaDosImg {
  grid-area: areaDosImg;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "areaDosImg__parDron areaDosImg__croquisSalon" "areaDosImg__parDron areaDosImg__croquisSalon";
  gap: 50px;
}
#imagenes .areaDosImg .areaDosImg__parDron {
  grid-area: areaDosImg__parDron;
  display: grid;
  justify-content: end;
  align-items: center;
  margin-top: auto;
}
#imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__parrafo {
  width: 300px;
  text-align: center;
}
#imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__imagenDron img {
  width: 300px;
  height: 300px;
  transition: 1s;
}
#imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__imagenDron img:hover {
  transition: 1s;
  transform: scale(2, 2);
}
#imagenes .areaDosImg .areaDosImg__croquisSalon {
  grid-area: areaDosImg__croquisSalon;
  display: grid;
  justify-content: start;
  align-items: center;
  margin-top: auto;
}
#imagenes .areaTresImg {
  grid-area: areaTresImg;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
  font-style: italic;
  gap: 50px;
}
#imagenes .areaTresImg img {
  width: 300px;
}

@media (max-width: 1023px) {
  #imagenes {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #fff7e9;
  }
  #imagenes .areaDosImg {
    grid-template-rows: 350px 500px;
    grid-template-areas: "areaDosImg__parDron areaDosImg__parDron" "areaDosImg__croquisSalon areaDosImg__croquisSalon";
  }
  #imagenes .areaDosImg .areaDosImg__parDron {
    display: grid;
    grid-template-areas: "areaDosImg__parrafo areaDosImg__imagenDron";
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  #imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__parrafo {
    grid-area: areaDosImg__parrafo;
  }
  #imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__parrafo p {
    margin-bottom: 0;
  }
  #imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__imagenDron {
    grid-area: areaDosImg__imagenDron;
  }
  #imagenes .areaDosImg .areaDosImg__croquisSalon {
    display: grid;
    justify-content: center;
    margin-top: 0;
  }
  #imagenes .areaTresImg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px;
    grid-template-areas: "imgRecepcion    imgEspExterior" "imgSalPrincipal imgSalPrincipal";
    gap: 40px;
    margin-top: 30px;
  }
  #imagenes .areaTresImg .imgRecepcion {
    grid-area: imgRecepcion;
  }
  #imagenes .areaTresImg .imgEspExterior {
    grid-area: imgEspExterior;
  }
  #imagenes .areaTresImg .imgSalPrincipal {
    grid-area: imgSalPrincipal;
    text-align: center;
  }
}
@media (max-width: 768px) {
  #imagenes .areaUnoImg h1 {
    font-size: 80px;
  }
  #imagenes .areaDosImg {
    margin-bottom: 40px;
    gap: 20px;
  }
  #imagenes .areaDosImg .areaDosImg__parDron {
    display: flex;
    flex-direction: column;
  }
  #imagenes .areaDosImg .areaDosImg__parDron .areaDosImg__imagenDron {
    display: none;
  }
  #imagenes .areaDosImg .areaDosImg__croquisSalon img {
    width: 300px;
    height: 400px;
  }
  #imagenes .areaTresImg {
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
}
/* ========================= */
/* PESTAÑA EVENTOS */
/* ========================= */
#mainEventos {
  background-color: #fff7e9;
}
#mainEventos #eventos {
  display: flex;
  flex-direction: column;
}
#mainEventos #eventos .titEventos {
  text-align: center;
  margin-top: 50px;
}
#mainEventos #eventos .titEventos h2 {
  font-size: 40px;
  margin-bottom: 0;
  color: #373737;
  text-shadow: 7px 4px 5px #af9c98;
}
#mainEventos #eventos .titCotizacion {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
}
#mainEventos #eventos .titCotizacion .titCotizacion__verIm a {
  font-size: 25px;
  padding: 10px;
  border-radius: 40px;
  color: white;
  background-color: #373737;
  transition: 1s;
}
#mainEventos #eventos .titCotizacion .titCotizacion__verIm a:hover {
  color: #f5c15c;
  transition: 1s;
}

.seccionEventos {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  width: 100%;
  height: 350px;
  justify-content: center;
  gap: 30px;
}
.seccionEventos .cajaEventos {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 300px;
  height: 350px;
  border: 1px solid #373737;
  position: relative;
}
.seccionEventos .cajaEventos img {
  width: 300px;
  height: 200px;
}
.seccionEventos .cajaEventos h3 {
  font-size: 25px;
  margin-top: 20px;
}
.seccionEventos .cajaEventos a {
  width: 50%;
  font-size: 20px;
  padding: 5px;
  color: white;
  background-color: #373737;
  transition: 1s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -10%);
  border-radius: 5px;
}
.seccionEventos .cajaEventos a:hover {
  color: #f5c15c;
  transition: 1s;
}

/* ============================= */
/*  SISTEMA RESPONSIVO EVENTOS   */
/* ============================= */
@media (max-width: 1023px) {
  .seccionEventos {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
  }
}
#contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 600px);
  grid-template-areas: "gridForm gridDatosContacto" "gridIframe gridIframe";
}
#contacto .gridForm {
  grid-area: gridForm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-right: 2px solid transparent;
  border-image: linear-gradient(to bottom, #fff7e9 0%, #373737 100%) 1;
  background-image: linear-gradient(to bottom, #373737, #fff7e9);
  text-align: center;
  width: 100%;
}
#contacto .gridForm .contacto__formulario {
  width: 70%;
}
#contacto .gridForm .contacto__formulario h2 {
  text-align: center;
  text-decoration: underline;
  margin: 10px 0;
}
#contacto .gridForm .contacto__formulario p {
  width: 100%;
  font-size: 25px;
  margin-bottom: 20px;
}
#contacto .gridForm .contacto__formulario .contacto__inputs {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #000;
}
#contacto .gridForm .contacto__formulario .contacto__inputs::placeholder {
  color: white;
}
#contacto .gridForm .contacto__formulario .contacto__textArea {
  width: 100%;
  font-size: 25px;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #000;
}
#contacto .gridForm .contacto__formulario .contacto__textArea::placeholder {
  color: white;
}
#contacto .gridForm .contacto__formulario .botonEnviar {
  width: 140px;
  color: white;
  border-radius: 20px;
  border: 5px solid #373737;
  font-size: 30px;
  background-color: #f5c15c;
  transition: 1s;
}
#contacto .gridForm .contacto__formulario .botonEnviar:hover {
  background-color: #373737;
  border-color: #f5c15c;
  color: white;
  transition: 1s;
}
#contacto .gridDatosContacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-template-areas: "telEventos telTe" "telTaberna telEstadia";
  padding-top: 8px;
  background: linear-gradient(#373737, #fff7e9);
  text-align: center;
  /* iconos y datos */
}
#contacto .gridDatosContacto .telEventos {
  grid-area: telEventos;
}
#contacto .gridDatosContacto .telTe {
  grid-area: telTe;
}
#contacto .gridDatosContacto .telTaberna {
  grid-area: telTaberna;
}
#contacto .gridDatosContacto .telEstadia {
  grid-area: telEstadia;
}
#contacto .gridDatosContacto .fa-solid {
  font-size: 50px;
  margin-bottom: 20px;
  color: #f5c15c;
}
#contacto .gridDatosContacto .grupoDatos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
#contacto .gridIframe {
  grid-area: gridIframe;
}
#contacto .gridIframe iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 600px) {
  #contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 600px 200px;
    grid-template-areas: "gridDatosContacto" "gridForm" "gridIframe";
  }
  #contacto .contacto__formulario h2 {
    font-size: 30px;
    font-weight: bold;
  }
  #contacto .gridDatosContacto {
    grid-area: gridDatosContacto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 200px);
    grid-template-areas: "telEventos telTe" "telTaberna telEstadia";
    justify-content: center;
    align-items: center;
  }
  #contacto .gridDatosContacto .telTaberna,
  #contacto .gridDatosContacto .telEstadia {
    color: #373737;
  }
  #contacto .gridForm {
    background: linear-gradient(#fff7e9, #373737);
  }
}
#navFooter {
  margin-top: auto;
  width: 100%;
  height: 100px;
  background-color: #373737;
  display: flex;
  justify-content: space-between;
}
#navFooter .navFooter__logo {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-left: 30px;
  padding: 4px 0;
}
#navFooter .navFooter__logo a {
  width: 100%;
  height: 100%;
}
#navFooter .navFooter__logo img {
  height: 100%;
  border-radius: 50%;
}
#navFooter .navFooter__links ul {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
#navFooter .navFooter__links a {
  color: white;
  margin: 10px;
  font-size: 20px;
}
#navFooter .navFooter__redes {
  display: flex;
  justify-content: flex-end;
}
#navFooter .navFooter__redes a {
  display: flex;
  align-items: center;
}
#navFooter .navFooter__redes img {
  width: 100%;
  height: 80%;
  padding: 20px;
}

@media (max-width: 1023px) {
  #navFooter {
    height: auto;
    flex-direction: column;
  }
  #navFooter .navFooter__logo {
    width: 100%;
    margin: 0;
  }
  #navFooter .navFooter__logo a {
    display: flex;
    justify-content: center;
  }
  #navFooter .navFooter__logo img {
    width: 200px;
  }
  #navFooter .navFooter__links ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
  }
  #navFooter .navFooter__links a {
    margin: 4px;
  }
  #navFooter .navFooter__redes {
    justify-content: center;
    margin-top: 10px;
  }
  #navFooter .navFooter__redes img {
    width: 40px;
    height: 40px;
    padding: 2px;
    margin: 10px;
  }
}
@media (max-width: 600px) {
  #navFooter .navFooter__links ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  #navFooter .navFooter__logo img {
    width: 150px;
  }
  #navFooter .navFooter__links a {
    font-size: 20px;
  }
  #navFooter .navFooter__redes {
    margin-top: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
