/* ========================= */
/* ===== PESTAÑA INDEX ===== */
/* ========================= */

#mainInicio {
    background-size: cover;
    background: linear-gradient(to bottom, rgb(0 0 0 / .7), rgb(0 0 0 / .3)), url(../imagenes/index/hermosa-zona-fotos-gran-corona-decorada-vegetacion-rosas-centro-mesa-velas-lados-guirnaldas-colgadas-arboles.jpg);
    font-weight: bold;
    #seccionBienvenidos {
        display: flex;
        flex-direction: column;
        .titulos {
            width: 100%;
            color: white;
            font-size: 30px;
            h1 {
                display: flex;
                justify-content: center;
                margin-top: 200px;
                font-size: 40px;
            }
            h3 {
                display: flex;
                justify-content: center;
                margin-top: 50px;
                margin-bottom: 20px;
                font-size: 30px;
                font-weight: bold;
            }
        }
        .parrafo {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
                width: 700px;
                color: white;
                font-size: 30px;
                margin: 20px;
            }
        }
        .linkCotizar {
            width: 100%;
            display: flex;
            justify-content: center;
            a { // TRANSITION APLICADO
                text-align: center;
                margin-top: 20px;
                font-size: 40px;
                font-weight: bold;
                background-color: #373737;
                color: white;
                padding: 10px;
                width: 200px;
                border-radius: 40px;
                transition: 1s;
                &:hover {
                    background-color: #f5c15c;
                    transition: 2s;
                    color: #373737;
                    transition: color 1s;
                }
            }
        }
    }
}

/* ============================= */
/* SISTEMA RESPONSIVO INDEX MAIN */
/* ===========1023PX============ */

@media(max-width: 1023px) {
    #mainInicio {
        #seccionBienvenidos {
            .titulos {
                h1 {
                    font-size: 35px;
                }
                h3 {
                    font-size: 25px;
                    margin-top: 10px;
                }
            }
            .parrafo {
                p {
                    font-size: 25px;
                    margin: 20px;
                }
            }
            .linkCotizar {
                a {
                    font-size: 35px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}

/* ============================= */
/* SISTEMA RESPONSIVO INDEX MAIN */
/* ===========600PX============= */

@media (max-width: 600px) {
    #mainInicio {
        #seccionBienvenidos {
            .titulos {
                h1 {
                    font-size: 30px;
                }
                h3 {
                    font-size: 20px;
                    margin-top: 10px;
                }
            }
            .parrafo {
                p {
                    font-size: 20px;
                    margin: 20px;
                }
            }
            .linkCotizar {
                a {
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }
    }
}