* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    font-family: 'Poppins', sans-serif;
}

a, li {
    display: inline-block;
    font-size: none;
    list-style: none;
    text-decoration: none;
}

main {
    min-height: 100vh;
}