  // =========================== \\ 
 //      PESTAÑA GASTRONOMÍA      \\
//   ===========================   \\

// ========== GASTRONOMÍA
#mainGastronomia {
    background-color: #fff7e9;
    #gastronomia {
        width: auto;
        height: auto;
        .titGastroCasaDeTe {
            background-image: url(/imagenes/gastronomia/casa-de-te-tazas-tetera-junto-flores-frente-ventana-dia-lluvioso.jpg);
            background-position: center;
            background-size: cover;
            background-repeat:no-repeat;
            height: 300px;
            display: flex;
            align-items: center;
            .titGastroH2 {
                color: white;
                font-size: 70px;
                margin-left: 30px;
                font-style: italic;
                font-weight: bold;
                letter-spacing: 5px;
                text-shadow: 10px 5px 10px #fff7e9;
            }
        }
        .titGastroLaTaberna {
            @extend .titGastroCasaDeTe;
            background-image: url(../imagenes/gastronomia/cerca-camarero-sirviendo-cerveza.jpg);
        }
        .secGastro {
            display: flex;
            justify-content: center;
            margin: 100px 0 100px 0;
            text-align: center;
            .secGastro__fechas {
                display: flex;
                width: 1060px;
                height: 400px;
                border: 2px solid #fa8072;
                padding: 10px;
                background-color: #373737;
                .secGastroCasaDeTe__divImg {
                    background-image: url(../imagenes/gastronomia/casa-de-te-tazas-tetera-junto-flores-frente-ventana-dia-lluvioso.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: bottom;
                    width: 70%;
                    height: 100%;
                }
                .secGastroLaTaberna__divImg {
                    @extend .secGastroCasaDeTe__divImg;
                    background-image: url(../imagenes/gastronomia/pareja-camarera.jpg);
                }
                .secGastro__titFechas {
                    display: flex;
                    flex-direction: column;
                    width: 30%;
                    background-color: white;
                    align-items: center;
                    .secGastro__titHdos {
                        width: 100%;
                        margin-top: 80px;
                        text-align: center;
                        h2 {
                            font-size: 30px;
                            text-align: center;
                        }
                    }
                    .secGastro__consRedSoc {
                        h2 {
                            font-size: 20px;
                            margin-top: 30px;
                            width: 250px;
                        }
                    }
                    .secGastro__consRedes { // TRANSITION APLICADO
                        a {
                            color: #373737;
                            font-size: 30px;
                            margin: 10px;
                            transition: 1s;
                            &:hover{
                                color: #fa8072;
                                transition: 0.8s;
                                transform: rotate(360deg);
                            }
                        }
                    }
                }
            }
        }
        .secGastro__infoMenu {
            display: flex;
            justify-content: center;
            width: auto;
            height: auto;
            .secGastro__info {
                padding: 10px;
                width: 750px;
                padding-right: 40px;
            }
            .secGastro__menus {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto auto;
                grid-template-areas: 
                "secGastro__tituloMenu"
                "secGastro__menu"
                "secGastro__titulosMenEsp"
                "secGastro__menuEsp"
                ;
                column-gap: 70px;
                padding: 10px;
                .secGastro__tituloMenu {
                    grid-area: secGastro__tituloMenu;
                }
                .secGastro__menu {
                    grid-area: secGastro__menu;
                }
                .secGastro__titulosMenEsp {
                    grid-area: secGastro__titulosMenEsp;
                }
                .secGastro__menuEsp {
                    grid-area: secGastro__menuEsp;
                    margin: 0;
                    padding-bottom: 110px;
                }
                .laTaberna__cartaDeVinos {
                    background-color: #373737;
                    border-radius: 50px;
                    text-align: center;
                    font-size: 20px;
                    width: 200px;
                    height: 50px;
                    display: table-cell;
                    vertical-align: middle;
                    margin-bottom: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a {
                        color: #fff7e9;
                        font-weight: bold;
                        transition: 1s;
                        &:hover {
                            color: #fa8072;
                            transition: 1s;
                        }
                    }
                }
                p {
                    width: 250px;
                }
                .secGastro__menu {
                    height: auto;
                }
            }
        }
        h3 {
            font-size: 28px;
        }
        p {
            font-size: 16px;
        }
    }
}

  // ============1023============== \\ 
 //  SISTEMA RESPONSIVO GASTRONOMÍA  \\
//   =============PX===============   \\
@media (max-width: 1023px) {
#mainGastronomia {
        #gastronomia {
            .titGastroCasaDeTe,
            .titGastroLaTaberna {
                height: 200px;
                .titGastroH2 {
                    font-size: 50px;
                }
            }
            .secGastro__infoMenu {
                display: flex;
                flex-direction: column;
                align-items: center;
                .secGastro__info {
                    padding: 10px;
                    width: 600px;
                }
                .secGastro__menus {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas: 
                    "secGastro__tituloMenu secGastro__titulosMenEsp"
                    "secGastro__menu       secGastro__menuEsp"
                    ;
                    .secGastro__tituloMenu {
                        grid-area: secGastro__tituloMenu;
                    }
                    .secGastro__menu {
                        grid-area: secGastro__menu;
                        margin: 0;
                    }
                    .secGastro__titulosMenEsp {
                        grid-area: secGastro__titulosMenEsp;
                    }
                    .secGastro__menuEsp {
                        grid-area: secGastro__menuEsp;
                        margin: 0;
                        padding-bottom: 110px;
                    }
                    p {
                    width: 250px;
                    }
                    .laTaberna__cartaDeVinos {
                        width: auto;
                        font-size: 15px;
                    }
                }
            }
            .secGastro {
                margin-top: 100px;
                .secGastro__fechas {
                    width: 700px;
                    .secGastro__titFechas {
                        justify-content: center;
                        .secGastro__titHdos {
                            margin-top: 40px;
                            h2 {
                            font-size: 20px;
                            width: auto;
                            }
                        }
                        .secGastro__consRedSoc {
                            h2 {
                                font-size: 15px;
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}

  // =============600============== \\ 
 //  SISTEMA RESPONSIVO GASTRONOMÍA  \\
//   =============P=X==============   \\

@media (max-width: 600px) {
    #mainGastronomia {
        #gastronomia {
            .titGastroCasaDeTe {
                .titGastroH2 {
                    font-size: 40px;
                }
            }
            .secGastro__infoMenu {
                .secGastro__info {
                    padding: 10px;
                    width: auto;
                }
                .secGastro__menus {
                    column-gap: 20px;
                    h3 {
                        width: auto;
                        height: auto;
                    }
                    p {
                        width: auto;
                        height: auto;
                    }
                    .secGastro__menu {
                        padding: 0px;
                        height: auto;
                    }
                    .laTaberna__cartaDeVinos {
                        width: auto;
                    }
                }
            }
            .secGastro {
                .secGastro__fechas {
                    display: flex;
                    flex-direction: column;
                    width: 400px;
                    height: 600px;
                    border: 2px solid #fa8072;
                    padding: 10px;
                    background-color: #373737;
                    .secGastroCasaDeTe__divImg,
                    .secGastroLaTaberna__divImg {
                        width: 100%;
                    }
                    .secGastro__titFechas {
                        width: 100%;
                    }
                }
            }
        }
    }
}